{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:node/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "jsx-a11y",
    "react",
    "react-hooks",
    "node",
    "jsx-a11y",
    "@typescript-eslint"
  ],
  "ignorePatterns": ["**/sipjs/**/*"],
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error",
    "node/no-unsupported-features/es-syntax": ["error", {
      "version": ">=14.2.0",
      "ignores": ["dynamicImport", "modules"]
    }],
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies,
    "node/no-missing-import": "off",
    "no-useless-escape": "off"
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      // Regex for Component Factory to use,
      // default to "createReactClass"
      "pragma": "React",
      // Pragma to use, default to "React"
      "version": "detect"
    }
  }
}
