body {
  margin: 0;
  font-family: 'Anonymous Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(21 22 29);
  color: rgb(215 46 162 / 94%);
  border: 5px solid;

  /* animation: borderPulse 1.2s infinite; */
  overflow: hidden;
  font-weight: bold;
}

@keyframes borderPulse {
  0% {
    border: 3px solid;
  }

  50% {
    border: 6px solid;
  }

  100% {
    border: 3px solid;
  }
}

html,
body,
#root {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
